<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi portafolio</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/85454b65e5.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="lineaPuntos">
            ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        </div>

        <br>
        <div class="contenedor">
            <a class="cajaHeader">INICIO <i class="fa-solid fa-house-user fa-bounce" style="color: white;"></i></a>
            <a class="cajaHeader">SOBRE MI <i class="fa-solid fa-circle-user fa-bounce" style="color: white;"></i></a>
            <a class="cajaHeader">HERRAMIENTAS DE TRABAJO <i class="fa-solid fa-computer-mouse fa-bounce" style="color: white;"></i></a>
            <a class="cajaHeader">PROYECTOS <i class="fa-solid fa-laptop fa-bounce" style="color: white;"></i></a>
            <a class="cajaHeader">CONTACTO <i class="fa-solid fa-id-card fa-bounce" style="color: white;"></i></a>
            <a class="cajaHeader">EDUCACION <i class="fa-solid fa-award fa-bounce" style="color: white;"></i></a>

    </header>
</body>

</html>